---
let currentYear = new Date().getFullYear();
let data = null;
while (true) {
  try {
    data = await import(`../data/${currentYear}.json`);
    break;
  } catch (e) {
    currentYear--;
    continue;
  }
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SLIIT FOSS - AGM</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <link href="/img/favicon.ico" type="image/svg+xml" rel="icon" />
    <link href="/img/favicon.ico" type="image/svg+xml" rel="apple-touch-icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
      rel="stylesheet"
    />

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="/lib/venobox/venobox.css" rel="stylesheet" />
    <link
      href="/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <header id="header">
      <div class="container">
        <div id="logo" class="pull-left">
          <a href="#intro" class="scrollto"
            ><img src="/img/logo.webp" alt="" title="" /></a
          >
        </div>
      </div>
    </header>

    <section id="intro">
      <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0">
          The Annual <span>General</span> Meeting <br />
          <span class="agm-heading">{data.year}</span>
          <br />
          SLIIT <span>FOSS</span>
        </h1>
        <p class="mb-4 pb-0">{data.date}, On Campus</p>
        <p class="mb-4 pb-0">
          <span style="color: #bf78e6">#sliitfossagm</span>
          {data.hashTag}
        </p>
        <a
          href="https://www.youtube.com/embed/upkXDVJgedU"
          class="venobox play-btn mb-4"
          data-vbtype="video"
          data-autoplay="true"></a>
        {
          data.liveStream && (
            <a href="#youtube" class="about-btn scrollto">
              Watch Live Stream
            </a>
          )
        }
      </div>
    </section>

    <main id="main">
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center">
              <h2>About The Event</h2>
              <p>
                The Annual General Meeting of the SLIIT FOSS community is an
                annual event created to review an year of hard work and to pass
                on the torch of leadership to newer members of the community.
              </p>
            </div>
            <div class="col-lg-3 text-center">
              <h3>Where</h3>
              <p>{data.venue}</p>
            </div>
            <div class="col-lg-3 text-center">
              <h3>When</h3>
              <p>{data.date}</p>
            </div>
          </div>
        </div>
      </section>

      <section id="schedule" class="section-with-bg">
        <div class="section-header">
          <h2>Agenda</h2>
          <p>Here is our agenda for the event</p>
        </div>

        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="container wow fadeInUp">
                <div class="tab-content row justify-content-center">
                  <!-- Schdule Day 1 -->
                  <div
                    role="tabpanel"
                    class="col-lg-12 tab-pane fade show active"
                    id="day-1"
                  >
                    {
                      data.agenda.map((agenda) => {
                        return (
                          <div class="row schedule-item">
                            <div class="col-md-2">
                              <time>{agenda.time}</time>
                            </div>
                            <div class="col-md-10">
                              <div class="speaker">
                                <img src={agenda.img} />
                              </div>
                              <h4>{agenda.title}</h4>
                              <p>{agenda.description}</p>
                            </div>
                          </div>
                        );
                      })
                    }
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: center">
              <br />
              <br />
              <img
                width="300"
                height="300"
                src="/img/meet.png"
                class="wow fadeInUp"
              />
            </div>
          </div>
        </div>
      </section>

      <section
        id="gallery"
        class="wow fadeInUp py-3 mt-5"
        style="padding: 0px; margin: 0px;"
      >
        <div class="container">
          <div class="section-header">
            <h2>SLIIT FOSS Arsenal Updates</h2>
            <p>Check out our most recent additions to the community</p>
          </div>
        </div>

        <div
          class="owl-carousel gallery-carousel card shadow p-4"
          style="margin-right: 20vw !important;"
        >
          {
            Array.from({ length: data.arsenalImgCount }).map((_, i) => (
              <a
                href={`/img/${currentYear}/arsenal/${i + 1}.jpg`}
                target="_blank"
              >
                <img src={`/img/${currentYear}/arsenal/${i + 1}.jpg`} alt="" />
              </a>
            ))
          }
        </div>
      </section>

      <section id="gallery" class="wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>Gallery</h2>
            <p>Check out our gallery of past events</p>
          </div>
        </div>

        <div class="owl-carousel gallery-carousel">
          {
            Array.from({ length: data.eventImgCount }).map((_, i) => (
              <a
                href={`/img/${currentYear}/events/${i + 1}.jpg`}
                class="venobox"
                data-gall="gallery-carousel"
              >
                <img src={`/img/${currentYear}/events/${i + 1}.jpg`} alt="" />
              </a>
            ))
          }
        </div>
      </section>

      <section id="supporters" class="section-with-bg wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>Collaborations</h2>
          </div>

          <div class="row no-gutters supporters-wrap clearfix">
            <div class="col-lg-4 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/img/collaborators/devops.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="/img/collaborators/figma.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="/img/collaborators/gdg.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="/img/collaborators/git.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="/img/collaborators/kubsl.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="/img/collaborators/ng.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img src="/img/collaborators/go.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/img/collaborators/postman.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/img/collaborators/stackoverflow.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>Feedback</h2>
            <p>Your feedback helps us grow and become better.</p>
          </div>

          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form id="feedback-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                  />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-md-6">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                    data-rule="email"
                    data-msg="Please enter a valid email"
                  />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Subject"
                  data-rule="minlen:4"
                  data-msg="Please enter at least 8 chars of subject"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  rows="5"
                  data-rule="required"
                  data-msg="Please write something for us"
                  placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 footer-info">
              <img
                src="/img/logo.webp"
                class="foss-logo"
                alt="TheEvenet"
              />
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 mt-md-4 footer-contact">
              <p>
                Welcome to the SLIIT FOSS community. We're a group of volunteers
                who believe in the usage of Free/Open Source Software (FOSS)
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-md-4 footer-links">
              <div class="social-links">
                <a
                  href="https://twitter.com/fosssliit?lang=en"
                  class="twitter"
                  target="_blank"><i class="fa fa-twitter"></i></a
                >
                <a
                  href="https://www.facebook.com/sliitfoss"
                  class="facebook"
                  target="_blank"><i class="fa fa-facebook"></i></a
                >
                <a
                  href="https://www.instagram.com/sliitfoss"
                  class="instagram"
                  target="_blank"><i class="fa fa-instagram"></i></a
                >
                <a
                  href="https://www.youtube.com/channel/UCPPO-QR0Dv13ewjhPsc_I3w/featured"
                  class="youtube"
                  target="_blank"><i class="fa fa-youtube"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>SLIIT FOSS</strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by
          <a href="https://sliitfoss.org" target="_blank">
            SLIIT FOSS Community</a
          >
        </div>
      </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("user_WyMiG19mwb6vTGJwqJq5C");
      })();
    </script>
    <script type="text/javascript">
      window.onload = function () {
        document
          .getElementById("feedback-form")
          .addEventListener("submit", function (event) {
            event.preventDefault();
            emailjs.sendForm(
              "service_664o6wc",
              "template_1nhqybf",
              this,
              "user_WyMiG19mwb6vTGJwqJq5C"
            );
          });
      };
    </script>
    <script is:inline src="/lib/jquery/jquery.min.js"></script>
    <script is:inline src="/lib/jquery/jquery-migrate.min.js"></script>
    <script is:inline src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="/lib/easing/easing.min.js"></script>
    <script is:inline src="/lib/superfish/hoverIntent.js"></script>
    <script is:inline src="/lib/superfish/superfish.min.js"></script>
    <script is:inline src="/lib/wow/wow.min.js"></script>
    <script is:inline src="/lib/venobox/venobox.min.js"></script>
    <script is:inline src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script is:inline src="/js/main.js"></script>
    <script is:inline src="/js/contact.js"></script>
  </body>
</html>
