---
// Define props interface for the component
interface Props {
  title: string;
  time: string;
  description?: string;
  imageURL?: string;
  name?: string;
  position?: string;
  index: number;
  isLast?: boolean;
}
---

<script>
  // Client-side JavaScript can go here if needed
</script>

<div
  class={`text-black ${
    Astro.props.isLast ? "" : "border-b-[1px]"
  } border-gray-400 w-full flex flex-row pt-2 pb-6 px-1`}
>
  <div
    class="font-dm-sans text-[22px] w-[100px] flex-shrink-0 mr-4 font-[400] -mt-[2px]"
  >
    {Astro.props.time}
  </div>
  <div class="flex-1 flex flex-col">
    <div class="mb-4">
      <h2
        class="font-dm-sans text-[20px] font-[600] leading-tight tracking-tight"
      >
        {Astro.props.title}
      </h2>
      <p class="font-dm-sans text-sm">{Astro.props.description}</p>
    </div>
    <div class="flex items-center">
      {Astro.props.imageURL && (
        <div
          class={`overflow-x-clip relative min-w-[70px] w-[70px] h-[70px] border-[2px] border-[black] rounded-full ${
            [
              "bg-gradient-to-r from-[#F571EA] to-[#F8D4FA]",
              "bg-gradient-to-r from-[#48FF57] to-[#D1FAD4]",
              "bg-gradient-to-r from-[#4591FF] to-[#D4E4FA]",
              "bg-gradient-to-r from-[#FFDD00] to-[#F6F9C1]",
            ][Astro.props.index % 4]
          }`}
        >
          <img
            src={Astro.props.imageURL}
            width="100"
            height="100"
            alt="profile"
            class="object-cover absolute top-0 left-0 w-full h-full rounded-full grayscale brightness-105"
          />
        </div>
      )}          <div class="ml-4 flex flex-col">
            <p class="font-dm-sans text-[18px] font-[500] text-black">
              {Astro.props.name}
            </p>
            <p class="font-dm-sans text-[15px] font-[100] -mt-[1px] text-gray-700">
              {Astro.props.position}
            </p>
          </div>
    </div>
  </div>
</div>
